@inherits BlazorLayoutComponent

<div class="sidebar">
    <div class="top-row">BLAT</div>
</div>

<div class="main">
    <div class="top-row px-4">
        Mister Magoo
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
